:root {
  --theme-body-font-size: 11px;
  --theme-code-font-size: 11px;
  --zen-big-shadow: none !important;
  --theme-code-line-height: calc(15 / 11);
  --theme-toolbar-height: 24px;
  --theme-toolbar-tall-height: 28px;
  --theme-focus-outline-color: var(--primary-color);
  --theme-focus-textinput-outline-color: var(--primary-color);
  --theme-focus-outline-size: 1px;
  --theme-focus-outline: var(--theme-focus-outline-size) solid var(--theme-focus-outline-color);
  --theme-outline-offset: 0px;
  --theme-outline-box-shadow-size: 0;
  --theme-outline-box-shadow: 0 0 0 0 0;
  --expression-item-height: 20.5px;
  --animation-curve: cubic-bezier(0.07, 0.95, 0, 1);
  --dimmed-highlighter-box-content-color: hsl(197, 71%, 73%, 0.3);
  --magenta-50: #ff1ad9;
  --magenta-65: #dd00a9;
  --magenta-70: #b5007f;
  --purple-50: #9400ff;
  --purple-60: #8000d7;
  --purple-30: #c069ff;
  --blue-30: #75baff;
  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-55: #0074e8;
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --teal-60: #00c8d7;
  --teal-70: #008ea4;
  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;
  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-65: #be9b00;
  --yellow-70: #a47f00;
  --yellow-75: #8b6801;
  --yellow-80: #715100;
  --red-05: #ffe6e8;
  --red-20: #ffb3d2;
  --red-40: #ff3b6b;
  --red-40-a90: rgba(255, 59, 107, 0.9);
  --red-50: #ff0039;
  --red-60: #d70022;
  --red-70: #a4000f;
  --grey-10: #f9f9fa;
  --grey-10-a20: rgba(249, 249, 250, 0.2);
  --grey-10-a25: rgba(249, 249, 250, 0.25);
  --grey-10-a30: rgba(249, 249, 250, 0.3);
  --grey-20: #ededf0;
  --grey-25: #e0e0e2;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-43: #a4a4a4;
  --grey-45: #939395;
  --grey-50: #737373;
  --grey-55: #5c5c5f;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-85: #1b1b1d;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --theme-body-background: var(--primary-background);
  --theme-body-emphasized-background: var(--secondary-background);
  --theme-body-alternate-emphasized-background: var(--secondary-background);
  --theme-sidebar-background: var(--secondary-background);
  --theme-tab-toolbar-background: transparent;
  --theme-toolbar-background: transparent;
  --theme-toolbar-color: var(--primary-color);
  --theme-toolbar-selected-color: var(--secondary-color);
  --theme-toolbar-highlighted-color: var(--secondary-color);
  --theme-toolbar-background-hover: transparent;
  --theme-toolbar-background-alt: light-dark(#f5f5f5, var(--grey-85));
  --theme-toolbar-background-highlighted: light-dark(#b9dcff, var(--blue-60));
  --theme-toolbar-error-background: light-dark(var(--red-05), var(--red-70));
  --theme-toolbar-hover: var(--secondary-color);
  --theme-toolbar-hover-active: var(var(--secondary-color));
  --theme-toolbar-separator: var(--primary-color);
  --toolbarbutton-background: transparent;
  --toolbarbutton-hover-background: transparent;
  --toolbarbutton-focus-background: transparent;
  --toolbarbutton-focus-color: var(--secondary-color);
  --toolbarbutton-checked-background: transparent;
  --toolbarbutton-checked-focus-background: transparent;
  --toolbarbutton-checked-color: var(--tertiary-color);
  --theme-button-background: light-dark(rgba(12, 12, 13, 0.05), rgba(249, 249, 250, 0.1));
  --theme-button-active-background: light-dark(rgba(12, 12, 13, 0.1), rgba(249, 249, 250, 0.15));
  --theme-accordion-header-background: light-dark(var(--theme-toolbar-background), #232327);
  --theme-accordion-header-hover: light-dark(var(--theme-toolbar-hover), #2a2a2e);
  --theme-selection-background: #0a7470d6;
  --theme-selection-background-hover: #0a7470d6;
  --theme-selection-focus-background: #33ff004a;
  --theme-selection-color: #ffb000;
  --theme-text-selection-background: #0a7470d6;
  --theme-text-selection-unfocused-background: #0a7470d6;
  --theme-splitter-color: light-dark(var(--grey-25), var(--grey-70));
  --theme-emphasized-splitter-color: light-dark(var(--grey-30), var(--grey-60));
  --theme-emphasized-splitter-color-hover: light-dark(var(--grey-40), var(--grey-50));
  --theme-icon-color: #33ff00;
  --theme-icon-hover-color: #ffb000;
  --theme-icon-dimmed-color: light-dark(rgba(135, 135, 137, 0.9), rgba(147, 147, 149, 0.9));
  --theme-icon-disabled-color: #bbffac;
  --theme-icon-checked-color: #ffb000;
  --theme-icon-error-color: #ff2e6e;
  --theme-icon-warning-color: #eeff00;
  --theme-comment: #bbffac;
  --theme-body-color: #33ff00;
  --theme-link-color: #00e1ff;
  --theme-internal-link-color: #00e1ff;
  --theme-text-color-alt: light-dark(var(--grey-50), var(--grey-45));
  --theme-text-color-inactive: light-dark(var(--grey-40), var(--grey-50));
  --theme-text-color-error: light-dark(var(--red-60), var(--grey-10));
  --theme-text-color-strong: light-dark(var(--grey-90), var(--grey-30));
  --theme-stack-trace-text: light-dark(var(--red-70), var(--red-20));
  --theme-highlight-green: light-dark(var(--green-70), #86de74);
  --theme-highlight-blue: light-dark(var(--blue-55), #75bfff);
  --theme-highlight-purple: light-dark(var(--blue-70), #b98eff);
  --theme-highlight-red: light-dark(var(--magenta-65), #ff7de9);
  --theme-highlight-yellow: #fff89e;
  --theme-highlight-bluegrey: light-dark(#0072ab, #5e88b0);
  --theme-highlight-lightorange: light-dark(#d97e00, #d99b28);
  --theme-highlight-orange: light-dark(#f13c00, #d96629);
  --theme-highlight-pink: light-dark(#b82ee5, #df80ff);
  --theme-highlight-gray: light-dark(#dde1e4, #e9f4fe);
  --theme-graphs-purple: light-dark(#b693eb, #df80ff);
  --theme-graphs-yellow: light-dark(#efc052, #d99b28);
  --theme-graphs-orange: light-dark(#d97e00, #d96629);
  --theme-graphs-grey: light-dark(#cccccc, #757873);
  --theme-graphs-full-red: #ff2e6e;
  --theme-popup-background: #121a12;
  --theme-popup-color: #33ff00;
  --theme-popup-border-color: #33ff00;
  --theme-popup-dimmed: light-dark(hsla(0, 0%, 80%, 0.3), rgba(249, 249, 250, 0.1));
  --theme-popup-hover-background: #0f630c9f;
  --theme-popup-hover-color: var(--theme-popup-color);
  --theme-toolbarbutton-background: none;
  --theme-toolbarbutton-color: light-dark(var(--grey-70), var(--grey-40));
  --theme-toolbarbutton-hover-background: #0f630c9f;
  --theme-toolbarbutton-checked-background: transparent;
  --theme-toolbarbutton-checked-color: var(--tertiary-color);
  --theme-toolbarbutton-checked-hover-background: #ffb00034;
  --theme-toolbarbutton-checked-hover-color: var(--secondary-color);
  --theme-toolbarbutton-active-background: transparent;
  --theme-select-background: transparent;
  --theme-select-color: var(--secondary-color);
  --theme-select-hover-border-color: var(--secondary-color);
  --theme-warning-background: light-dark(hsl(54, 100%, 92%), hsl(42, 37%, 19%));
  --theme-warning-border: light-dark(rgba(215, 182, 0, 0.28), hsl(60, 30%, 26%));
  --theme-warning-color: light-dark(var(--yellow-80), hsl(43, 94%, 81%));
  --theme-contrast-background: light-dark(#fff699, #4f4b1f);
  --theme-contrast-background-alpha: light-dark(rgba(255, 233, 0, 0.4), rgba(255, 233, 0, 0.15));
  --theme-contrast-color: light-dark(black, white);
  --theme-contrast-border: light-dark(var(--yellow-70), var(--yellow-65));
  --theme-search-results-background: var(--theme-contrast-background);
  --theme-search-results-color: var(--theme-contrast-color);
  --theme-search-results-border-color: var(--theme-contrast-border);
  --text-color-disabled: #bbffac !important;
  --toolbar-bgcolor: #0a0e0a !important;
}

splitter {
  background-color: var(--primary-color) !important;
}

:root {
  --text-color: #e4d5ea;

  --primary-color: #33ff00;
  --primary-color-hover: #b200cc;
  --primary-color-disabled: #c3a7d1;

  --secondary-color: #ffb000;
  --secondary-color-hover: #ffb000;
  --secondary-color-disabled: #fff;

  --tertiary-color: #ffd700;
  --tertiary-color-hover: #fff;
  --tertiary-color-disabled: #d1caa7;

  --indicador-color: rgba(225, 0, 255, 0.3);
  --backdrop-color: #33ff00;
  --backdrop-hover-color: #33ff00;
  --backdrop-active-color: #ffb000;

  --hover-color: #ffb000;
  --selection-color: #33ff004a;
  --active-color: #ffb000;
  --active-disabled-color: #d1caa7;

  --accent-color: #ffb000;
  --accent-color-hover: #ffb000;
  --highlight-color: #9d00b3;

  --primary-background-hover: transparent;
  --primary-backdrop-background: #0a0e0a;
  --secondary-background: #121a12;
  --secondary-background-hover: transparent;

  --yellow: #ffd700;
  --orange: #ffa500;
  --red: #ff2e6e;
  --green: #00ff00;
  --cyan: #ffb000;
  --purple: #b088ff;

  --urlbarView-separator-color: var(--primary-color);
  --vertical-tabs-scrollbar-color: var(--primary-background);
  --vertical-tabs-scrollbar-color: var(--primary-background);
  --background-color: var(--primary-background);
  --arrowpanel-background: var(--secondary-background);
  --background-color-box: var(--secondary-background);
  --background-color-canvas: Canvas;
  --background-color-critical: light-dark(#ffe8e8, #690f22);
  --background-color-information: light-dark(#deeafc, #003070);
  --background-color-success: light-dark(#d8eedc, #004725);
  --background-color-warning: light-dark(#ffebcd, #5a3100);
  --button-background-color: transparent;
  --button-background-color-active: transparent;
  --button-background-color-destructive: light-dark(#d7264c, #f37f98);
  --button-background-color-destructive-active: light-dark(#8a1831, #ffe8e8);
  --button-background-color-destructive-disabled: light-dark(#d7264c, #f37f98);
  --button-background-color-destructive-hover: light-dark(#ac1e3d, #ffbdc5);
  --button-background-color-disabled: transparent;
  --button-background-color-ghost: transparent;
  --button-background-color-ghost-active: transparent;
  --button-background-color-ghost-disabled: transparent;
  --button-background-color-ghost-hover: transparent;
  --button-background-color-hover: transparent;
  --button-background-color-primary: transparent;
  --button-background-color-primary-active: transparent;
  --button-background-color-primary-disabled: transparent;
  --button-background-color-primary-hover: transparent;
  --ext-theme-background-transition: background-color 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --in-content-button-background: transparent;
  --in-content-button-background-hover: transparent;
  --in-content-page-background: color-mix(in srgb, #ffb787 1%, light-dark(#ebebeb, #202020) 99%);
  --in-content-primary-button-background: transparent;
  --in-content-primary-button-background-active: transparent;
  --in-content-primary-button-background-hover: transparent;
  --lwt-background-alignment: right top;
  --lwt-background-tiling: no-repeat;
  --newtab-background-color: var(--primary-background);
  --newtab-background-color-secondary: var(--secondary-background);
  --panel-banner-item-background-color: transparent;
  --primary-backdrop-background: var(--primary-backdrop-background);
  --primary-background: #0a0e0a;
  --primary-background-hover: #111611;
  --secondary-background: #121a12;
  --secondary-background-hover: #21243c;
  --short-notification-background: #0250bb;
  --sidebar-background-color: var(--secondary-background);
  --tab-collapsed-background-width: 36px;
  --tab-hover-background-color: transparent;
  --tab-pinned-expanded-background-width: 40px;
  --tabpanel-background-color: transparent;
  --toolbar-field-background-color: transparent;
  --toolbar-field-focus-background-color: transparent;
  --toolbarbutton-active-background: transparent;
  --toolbarbutton-hover-background: transparent;
  --urlbarView-action-button-background-color: transparent;
  --urlbarView-action-button-hover-background-color: transparent;
  --urlbarView-highlight-background: transparent;
  --urlbarView-hover-background: transparent;
  --urlbarView-result-button-background-opacity: 60%;
  --urlbarView-result-button-hover-background-color: transparent;
  --urlbarView-result-button-selected-background-color: inherit;
  --zen-in-content-dialog-background: light-dark(#ebebeb, #202020);
  --zen-main-browser-background: #0a0e0a;
  --zen-main-browser-background-toolbar: #0a0e0a;
  --zen-urlbar-background: var(--primary-background);

  --arrowpanel-border-radius: 0;
  --arrowpanel-menuitem-border-radius: 0;
  --border-radius-circle: 0;
  --toolbarbutton-icon-fill: var(--primary-color);
  --toolbarbutton-active-background: transparent;
  --panel-separator-color: var(--primary-color);
  --zen-colors-border: var(--primary-color);

  --urlbar-box-hover-text-color: var(--secondary-color);
  --toolbarbutton-hover-outline-color: var(--secondary-color);
  --panel-item-hover-bgcolor: transparent;
  --panel-item-active-bgcolor: transparent;
  --theme-body-color: var(--primary-color);
  --theme-popup-background: var(--secondary-color);
  --theme-tab-toolbar-background: var(--secondary-background);
}

:root {
  &[lwtheme] {
    --link-color: #00e1ff;
    --tabs-navbar-separator-color: #33ff00;
    --attention-dot-color: #00e1ff;
    --toolbox-bgcolor: #0a0e0a;
    --toolbox-bgcolor-inactive: #0a0e0a;
    --toolbox-textcolor: #33ff00;
    --toolbox-textcolor-inactive: #bbffac;
  }
}

#navigator-toolbox {
  --border-radius-medium: 0;
  --tab-border-radius: 0;
}

html#main-window {
  --toolbar-color: var(--primary-color) !important;
  --input-color: rgb(251, 251, 254);
  --urlbarView-separator-color: rgb(82, 82, 94);
  --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 14%, transparent);
  --urlbar-icon-fill-opacity: 1;
  --panel-separator-zap-gradient: linear-gradient(90deg, #9059ff 0%, #ff4aa2 52.08%, #ffbd4f 100%);
  --zen-main-browser-background: var(--zen-themed-toolbar-bg-transparent);
  --lwt-accent-color: rgb(28, 27, 34);
  --lwt-text-color: rgba(251, 251, 254);
  --arrowpanel-background: rgb(66, 65, 77);
  --arrowpanel-color: rgb(251, 251, 254);
  --arrowpanel-border-color: rgb(82, 82, 94);
  --toolbar-field-background-color: rgba(0, 0, 0, 0.30000001192092896);
  --toolbar-bgcolor: rgb(43, 42, 51);
  --toolbar-field-color: rgb(251, 251, 254);
  --toolbar-field-border-color: rgba(0, 0, 0, 0);
  --toolbar-field-focus-background-color: rgba(66, 65, 77, 1);
  --toolbar-field-focus-color: rgb(251, 251, 254);
  --toolbarbutton-icon-fill: rgb(251, 251, 254);
  --newtab-background-color: #0a0e0a;
  --newtab-background-color-secondary: rgb(66, 65, 77);
  --newtab-text-primary-color: rgb(251, 251, 254);
  --lwt-accent-color-inactive: #0a0e0a !important;
  --tab-selected-bgcolor: rgba(106, 106, 120, 0.699999988079071);
  --tab-selected-textcolor: rgb(255, 255, 255);
  --lwt-tab-line-color: rgba(0, 0, 0, 0);
  --tabs-navbar-separator-color: rgba(0, 0, 0, 0);
  --tabs-navbar-separator-style: none;
  --chrome-content-separator-color: rgb(82, 82, 94);
  --urlbarView-highlight-background: rgb(43, 42, 51);
  --sidebar-background-color: rgb(28, 27, 34);
  --sidebar-text-color: rgb(249, 249, 250);
  --sidebar-border-color: rgb(82, 82, 94);
  --zen-primary-color: rgb(255, 199, 166);
  --zen-border-radius: 8px;
  --zen-element-separation: 8px;
  --zen-grainy-background-opacity: 0;
  --zen-main-browser-background-toolbar: var(--zen-themed-toolbar-bg);
  --chrome-content-separator-color: #33ff00 !important;
  --input-border-color: #33ff00 !important;
  --toolbar-field-color: #bbffac !important;
  --toolbar-field-background-color: #0a0e0a !important;
  --input-bgcolor: #0a0e0a !important;
  --input-color: #bbffac !important;
  --toolbar-field-focus-background-color: #121a12 !important;
  --toolbar-field-focus-color: #33ff00 !important;
  --toolbar-field-focus-border-color: #33ff00 !important;
}

body {
  font-family: 'Share Tech Mono', monospace;
  --zen-border-radius: 0;
  --lwt-accent-color-inactive: #0a0e0a;
}

#browser,
#tabbrowser-tabpanels {
  border: 1px solid var(--primary-color);
}

#browser {
  --zen-main-browser-background: var(--primary-background);
}

.urlbar-input-container {
  --toolbarbutton-border-radius: 0;
  border-radius: 0;
}

#nav-bar {
  outline: 1px solid var(--primary-color);
}

.tabbrowser-tab:hover {
  background-color: transparent;
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid black;
}

#tabbrowser-tabs {
  --tab-selected-bgcolor: none;
  color: var(--primary-color);
  --tab-selected-textcolor: var(--secondary-color);
  --tab-hover-background-color: transparent;
}

.tabbrowser-tab {
  border: 1px solid transparent;
}

.tabbrowser-tab:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.toolbarbutton {
  color: var(--primary-color);
}

#navigator-toolbox {
  --border-radius-medium: 0;
  --tab-border-radius: 0;
  --tab-hover-background-color: transparent;
  --toolbarbutton-hover-background: transparent;
  --toolbarbutton-hover-outline-color: var(--primary-color);
}

toolbarbutton {
  --zen-toolbar-element-bg: #0a0e0a;
}
toolbarbutton:hover {
  color: var(--secondary-color);
}

toolbarbutton:active {
  background-color: transparent;
}

#urlbar-background {
  --zen-toolbar-element-bg: transparent;
  outline: 1px solid var(--primary-color);
}

#urlbar {
  --toolbarbutton-border-radius: 0;
}

#urlbar {
  --toolbarbutton-border-radius: 0;
  --urlbarView-separator-color: #33ff00 !important;
  --urlbarView-hover-background: transparent;
  --urlbarView-highlight-background: transparent;
  --urlbar-box-bgcolor: transparent !important;
}

#titlebar {
  --zen-dialog-background: #0a0e0a;
}

:root[zen-compact-mode='true']:not([customizing]):not([inDOMFullscreen='true']) {
  @media (-moz-bool-pref: 'zen.view.compact.hide-tabbar') or (-moz-bool-pref: 'zen.view.use-single-toolbar') {
    & #navigator-toolbox:not([animate='true']) #titlebar {
      --zen-dialog-background: #0a0e0a;
      background: #0a0e0a !important;

      --zen-colors-border-contrast: #33ff00;
    }
  }
}

@media (-moz-bool-pref: 'zen.view.compact') {
  :root:not([customizing]):not([inDOMFullscreen='true']) {
    @media (-moz-bool-pref: 'zen.view.compact.hide-tabbar') or (-moz-bool-pref: 'zen.view.use-single-toolbar') {
      & #navigator-toolbox:not([animate='true']) #titlebar {
        outline-color: var(--primary-color) !important;
      }
    }
  }
}

.urlbarView-url {
  color: var(--primary-color) !important;
}

#urlbar:is([focused], [open]) {
  --toolbar-field-focus-color: var(--primary-color);
}

#urlbar:not([breakout-extend='true']) {
  &:hover #urlbar-background {
    background-color: #ffb00034 !important;
  }
}

.urlbarView-row {
  margin: 0 3px;
  color: #00e1ff !important;
  --urlbarView-highlight-color: #33ff00;

  .urlbarView-favicon {
    display: none !important;
  }

  &:hover {
    color: #33ff00;
    background-color: #0f630cd6 !important;

    & .urlbarView-url,
    & .urlbarView-title,
    & .urlbarView-action,
    & .urlbarView-title-separator::before {
      color: #33ff00 !important;
    }
  }

  & [selected] {
    --urlbarView-highlight-color: #ffb000;
    color: #ffb000;
    background-color: #ffb00034 !important;

    & .urlbarView-url,
    & .urlbarView-title,
    & .urlbarView-action,
    & .urlbarView-title-separator::before {
      color: #ffb000 !important;
    }
  }
}

.urlbarView-row {
  &[selected] {
    & *,
    & .urlbarView-title-separator::before {
      color: #ffb000 !important;
    }
  }
}

.urlbarView-title-separator::before {
  color: var(--secondary-color) !important;
}

panel toolbarseparator {
  --panel-separator-color: var(--primary-color);
}

toolbar .toolbarbutton-1 {
  & > .toolbarbutton-icon,
  & > .toolbarbutton-text,
  & > .toolbarbutton-badge-stack {
    --toolbarbutton-border-radius: 0;
    --toolbarbutton-outline: transparent;
  }
}

#urlbar {
  --zen-colors-border: var(--primary-color);
  --urlbarView-separator-color: var(--primary-color);
}

#urlbar[open] {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--secondary-background) !important;
  & #urlbar-background {
    outline-color: transparent !important;
    background-color: transparent !important;
    margin: 0;
    border: 1px solid transparent !important;
  }
}

.toolbarbutton-badge-stack,
.toolbarbutton-icon {
  fill: var(--secondary-color);
}

:is(menupopup, panel):where([type='arrow']) {
  --arrowpanel-background: var(--secondary-background);
  --arrowpanel-color: var(--secondary-color);
  --panel-color: var(--secondary-color);
  --panel-border-radius: 0;
}

:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype='toolbar']), [overflowedItem='true']) > toolbarbutton) {
  --panel-item-hover-bgcolor: transparent;
  --panel-item-active-bgcolor: transparent;

  &:not([disabled]):hover {
    background: transparent;
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}

:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype='toolbar']), [overflowedItem='true']) > toolbarbutton) {
  &:not([disabled]):hover {
    &:active {
      --panel-item-active-bgcolor: transparent;
    }
  }
}

menu,
menuitem {
  color: var(--primary-color);
}

menu,
menuitem {
  &:where([_moz-menuactive]:not([disabled='true'])) {
    background-color: transparent;
    color: var(--secondary-color);
  }
}

#urlbar:not([breakout-extend='true']) #identity-box.chromeUI:not([pageproxystate='invalid']) #identity-icon-box {
  border-radius: 0 !important;
}

#identity-box.chromeUI:not([pageproxystate='invalid']) {
  & #identity-icon-box {
    background: transparent !important;
  }
}

.urlbarView-title {
}
.urlbarView-action {
  color: var(--primary-color) !important;
  border-radius: 0;
  --urlbar-box-text-color: var(--primary-color);
  --urlbar-box-hover-bgcolor: transparent;
}

#urlbar .urlbarView-action,
#urlbar #tracking-protection-icon-container,
#urlbar:not([breakout-extend='true']) #identity-box:is(:not(.chromeUI), [pageproxystate='invalid']) #identity-icon-box {
  border-radius: 0 !important;
}

.urlbar-input-container {
  color: var(--primary-color);
}

.urlbar-input-container:hover {
  color: var(--secondary-color);
}

.tab-background {
  &:is([selected], [multiselected]) {
    --tab-selected-bgcolor: none;
    --tab-selected-shadow: none;
    --tab-selected-outline-color: var(--secondary-color);
  }
}

.tab-background {
  --border-radius-medium: 0;

  .tabbrowser-tab:hover > .tab-stack > &:not([selected], [multiselected]) {
    --tab-hover-background-color: transparent;
    --tab-hover-outline-color: var(--primary-color);
  }
}

#vertical-pinned-tabs-container-separator {
  background: var(--primary-color) !important;
}

:root {
  --arrowpanel-menuitem-border-radius: 0;

  --uc-contextmenu-border-radius: 0;
  --uc-contextmenu-menuitem-border-radius: 0;

  --zen-colors-border: var(--primary-color);
  ---zen-panel-radius: 0;
  --panel-border-radius: 0;
  --panel-item-hover-bgcolor: transparent;
  --panel-item-active-bgcolor: transparent;
}

menuseparator::before {
  --panel-separator-color: var(--primary-color);
}

menupopup,
panel {
  --arrowpanel-background: var(--secondary-background);
  --zen-appcontent-border: 1px solid var(--primary-color);
  --panel-border-radius: 0;
  ---zen-panel-radius: 0;
  --panel-item-hover-bgcolor: transparent;
  --panel-item-active-bgcolor: transparent;
  border-radius: 0;
}

menupopup,
panel {
  &::part(content) {
    --panel-border-radius: 0;
  }
}

* {
  border-radius: 0 !important;
}

/* app menu */
.addon-banner-item,
.panel-banner-item {
  --arrowpanel-menuitem-border-radius: 0;
}

/* firefox profile avatar in appmenu */
#appMenu-fxa-label2::before {
  border-radius: 0;
}

/* zoom controls */
#appMenu-zoom-controls {
  --panel-separator-color: var(--primary-color);
}

#appMenu-zoom-controls > #appMenu-fullscreen-button2::before {
  --panel-separator-color: var(--primary-color);
}

#appMenu-zoomReduce-button2:not([disabled], [open], :active):is(:hover),
#appMenu-zoomEnlarge-button2:not([disabled], [open], :active):is(:hover),
#appMenu-fullscreen-button2:not([disabled], [open], :active):is(:hover),
#appMenu-zoomReset-button2:not([disabled], [open], :active):is(:hover) {
  --panel-item-hover-bgcolor: transparent;
  --panel-item-active-bgcolor: transparent;
}

#appMenu-zoomReduce-button2:not([disabled]):is([open], :hover:active),
#appMenu-zoomEnlarge-button2:not([disabled]):is([open], :hover:active),
#appMenu-fullscreen-button2:not([disabled]):is([open], :hover:active),
#appMenu-zoomReset-button2:not([disabled]):is([open], :hover:active) {
  --panel-item-hover-bgcolor: transparent;
  --panel-item-active-bgcolor: transparent;
}

menupopup::part(content),
panel::part(content) {
  --zen-appcontent-border: 1px solid var(--primary-color);
}

/* Context menu */
menu,
menuitem {
  &:where([_moz-menuactive]:not([disabled='true'])) {
    --button-hover-bgcolor: transparent;
    --button-hover-color: var(--secondary-color);
  }
}

.workspace-trigger {
  --input-border-color: var(--primary-color);
  border-radius: 0;
  --zen-colors-tertiary: var(--secondary-background);
}

#editBMPanel_workspaceList {
  --zen-colors-border: var(--primary-color);
  border-radius: 0;
  --zen-colors-tertiary: var(--secondary-background);
  background-color: var(--zen-colors-tertiary);
  box-shadow: none;
}

toolbar {
  --toolbarbutton-active-background: transparent;
}

#nav-bar-overflow-button {
  height: 26px;
  width: 26px;
  margin-right: 2px !important;
}

.identity-box-button,
#tracking-protection-icon-container {
  &:hover:not([open='true']) {
    --urlbar-box-hover-bgcolor: transparent;
    --urlbar-box-hover-text-color: var(--secondary-color);
  }
}

.identity-box-button,
#tracking-protection-icon-container {
  &:hover:active,
  &[open='true'] {
    --urlbar-box-active-bgcolor: transparent;
    --toolbarbutton-active-outline-color: var(--secondary-color);
  }
}

.findbar-textbox {
  &[status='notfound'] {
    background-color: #ff000034;
    color: #bbffac !important;
  }
}

.vertical-pinned-tabs-container-separator {
  background: #33ff00 !important;
}

:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer,
  & #tabbrowser-tabpanels[dragging-split='true'] {
    & browser[transparent='true'] {
      background-color: var(--primary-background) !important;
    }
  }
}

/* Checkboxes */

.menu-iconic-left {
  image {
    appearance: none !important;
  }
}

.menu-iconic-left,
.checkbox-check {
  appearance: none !important;
  background-color: #121a12;
  color: #00e1ff;
  border: 1px solid #33ff00;
  display: inline-block;
}

.menu-iconic-left[checked='true'],
.checkbox-check[checked='true'] {
  background-color: #33ff00;
  outline: 2px solid #121a12;
  outline-offset: -3px;
}
