* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Share Tech Mono';
  font-weight: 500;
  font-size: 1rem;
  padding: 0;
}

window#waybar {
  background: none;
}

tooltip {
  background-color: #0a0e0a;
  border: 1px solid #ffb000;
}

tooltip label {
  color: #ffb000;
}

#clock,
#custom-lyrics,
#tray,
#cpu,
#memory,
#battery,
#network,
#battery,
#custom-cava,
#temperature {
  padding: 6px 12px;
}

#workspaces button {
  background-color: #0a0e0a;
  border: 1px solid #33ff00;
  padding: 0 12px;
  margin-right: 6px;
  color: #33ff00;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  color: #ffb000;
}

#workspaces button.active {
  background-color: #33ff00;
  color: #0a0e0a;
}

#workspaces button.special {
  background-color: #00e1ff;
  border-color: #00e1ff;
}

#workspaces button.urgent {
  background-color: #ff2e6e;
  border-color: #ff2e6e;
  color: #0a0e0a;
}

#clock {
  background-color: #0a0e0a;
  border: 1px solid #33ff00;
  color: #33ff00;
  margin-left: 6px;
}

#tray {
  background-color: #0a0e0a;
  border: 1px solid #33ff00;
}

#cpu,
#memory,
#network,
#battery,
#custom-cava,
#temperature {
  background-color: #0a0e0a;
  border: 1px solid #33ff00;
  margin-left: 6px;
  color: #33ff00;
}

#battery.charging {
  border: 1px solid #00e1ff;
  color: #00e1ff;
}

#battery.warning {
  border: 1px solid #ffb000;
  color: #ffb000;
}

#battery.critical,
#cpu.critical,
#memory.critical {
  background-color: #ff2e6e;
  border: 1px solid #ff2e6e;
  color: #0a0e0a;
}

#custom-logo {
  background-color: #0a0e0a;
  border: 1px solid #33ff00;
  background-image: url('icons/arch.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(100% - 6px) calc(100% - 12px);
  min-width: 30px;
  margin-right: 6px;
}

#custom-lyrics {
  margin-left: 6px;
  color: #33ff00;
}

#custom-lyrics:hover {
  color: #ffb000;
}

#custom-lyrics.no-song,
#custom-lyrics.no-lyrics {
  background-color: #0a0e0a;
  border: 1px solid #ff2e6e;
  color: #ff2e6e;
}

#custom-lyrics.has-song {
  background-color: #0a0e0a;
  border: 1px solid #33ff00;
}

#custom-lyrics .next-line {
  color: #bbffac;
  font-style: italic;
}

#custom-cava {
  letter-spacing: 10px;
}
